@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">*@
@*    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@

<div class="container">
  <div class="row">
    <div class="col-lg-8 ">
      <p class=image>Lorem ipsum...</p>
      <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">

    <div class="carousel-item active">
         <div class="carousel-item active">
      <img class="d-block w-500" src="../Views/Images/iplindexstart.jpg" alt="First slide">
    </div>
    <div class="carousel-item ">
      <img class="d-block w-100" src="../Views/Images/iplindex0.jpg" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="../Views/Images/iplindex1.jpg" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="../Views/Images/iplindex2.jpg" alt="Third slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-500" src="../Views/Images/iplindex3.jpg" alt="Third slide">
   </div>
  </div>
</div>
    </div>  </div>
    <div class="col-lg-4">
      <p>Sed ut perspiciatis...</p>
    </div>

</div>
</div>
@*</div>*@
