

@{
    ViewData["Title"] = "AddQuestionary";
     Layout="~/Areas/admin/Views/Shared/_Layout.cshtml";
}

<h1>AddQuestionary</h1>


<div class="row">
    <div class="col-md-4">
        <form method="post" action="AddQuestionary">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div>Hello Admin @ViewBag.user </div>
            <div class="form-group">
             <table>
                <tr>
                <td><label for ="question">Add Ipl Question:</label></td></tr>
                <tr>
                <td>
                <textarea id="question" name="question" rows="2" cols="90">type question here</textarea>
                </td>
                </tr>
                <tr><td> Add Choices For Above Question</td></tr>
                <tr><td>Option1&nbsp;<input type="text" name="txtop1" value=" "/></td></tr>
                 <tr><td>Option2&nbsp;<input type="text" name="txtop2" value=" "/></td></tr>
                  <tr><td>Option3&nbsp;<input type="text" name="txtop3" value=" "/></td></tr>
                 <tr><td>Option4&nbsp;<input type="text" name="txtop4" value=" "/></td></tr>
                </table>
               @* <label asp-for="Question" class="control-label"></label>
                <input asp-for="Question" class="form-control" />
                <span asp-validation-for="Question" class="text-danger"></span>*@
            </div>
        
          
            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-primary" /> <h6>@ViewBag.Msg</h6>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
